@font-face {
    font-family: 'iconfont';  /* Project id 3875907 */
    src: url('//at.alicdn.com/t/c/font_3875907_igrurcq4jfe.woff2?t=1702653891229') format('woff2'),
         url('//at.alicdn.com/t/c/font_3875907_igrurcq4jfe.woff?t=1702653891229') format('woff'),
         url('//at.alicdn.com/t/c/font_3875907_igrurcq4jfe.ttf?t=1702653891229') format('truetype');
  }
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    background-color: rgb(197, 206, 220);
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
}

.shell{
    width: 100px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    background-color: rgb(17, 24, 39);
    border-radius: 10px;
    transition: 1.3s,ease-in-out;
    overflow: hidden;
    margin-right: 80%;
}

.box{
    display: block;
    height: 15%;
    width: 85%;
    margin: 9px;
    border-radius: 5px;
    position: relative;
    transition: 0.3s;
    color: rgb(160, 160, 175);
}

.box i {
    font-size: 60px;
    position: absolute;
    margin: 7px 0 0 13px;
}

.box:nth-child(1)::before,
.box:nth-child(5)::before{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(55, 65, 81);
    position: absolute;
    bottom: -10px;
}

.box span{
    position: relative;
    top: 22px;
    left: 80px;
    font: 500 20px '';
    opacity: 0;
    transition: .1s;
}
.shell:hover{
    width: 270px;
}
.box:hover{
    background-color: rgb(55, 65, 81);
}
.shell:hover span{
    opacity: 1;
}
.box:hover{
    color: #fff;
}

.shell:nth-child(1) {
    background-color: rgb(243, 244, 246);
}
.shell:nth-child(1) .box:hover{
    background-color: rgb(209, 213, 219);
    color: rgb(241, 159, 159);
}
.shell:nth-child(1) .box{
    color: #000;
}

